<div class="techlogPage">
    <div class="formContainer">
        <div class="techlogTitle activiteitTitle">
            <p>VOEG EEN</p>
            <h1>ACTIVITEIT</h1> 
            <p>TOE</p>
        </div>
        <div class="techlogForm">
            <form #createActiviteitForm="ngForm" (submit)="createActiviteit(createActiviteitForm.form.value)">
                <div>

                     <label class="login-form-group techlog add">
                       
                            <input class="login-form-control techlog"  required type="text" name="title" required maxlength="45" ngModel #title="ngModel">
                            <span for="">ACTIVITEIT</span>
                            <span class="border"></span>
                       
                    </label>

                    <div class="footerAdd">
                        <button class="techlogButton" type="button" (click)="goBack()">TERUG</button>
                        <button class="techlogButton" type="submit" [disabled]="!createActiviteitForm.form.valid">VOEG TOE</button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>