<form #updateActiviteitForm="ngForm" (submit)="updateActiviteit()">
    <div>
      
        <div>                  
            <input type="text" name="title" required maxlength="45" [(ngModel)]="activiteit.title.raw"  #title="ngModel">
        </div>
        <div *ngIf="title?.errors&& (title.dirty || title.touched)">                            
            <div [hidden]="!title.errors.required"> 
                <span></span>&nbsp;Title is required.
            </div>
        </div>



        <div>
            <button type="button" (click)="goBack()">CANCEL</button>
            <button type="submit" [disabled]="!updateActiviteitForm.form.valid">WIJZIG PROFIEL</button>
        </div>

    </div>
</form>

