.formContainer.dashboard {
    display: block;
    background-color: map-get($colors, 'slate');
}

.dashboardTitle {
    font-size: 60px;
    color: map-get($colors, 'gold');
    letter-spacing: 10px;
    margin-bottom: 30px;
}

.dashboardSubtitle {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 10px;
    & h1 {
        color: map-get($colors, 'eggplant');
        font-size: 30px;
    }
}

.tableContainer {
    font-size: 14px;
    background-color: map-get($colors, 'snow');
    & table {
        border-collapse: collapse;
        width: 100%;
    }
    & td {
        border: 2px solid map-get($colors, 'eggplant');
        text-align: center;
        padding: 5px;
    }
}

.formLeft, .formRight  {
    display: inline-block;
    width: 50%;
}

.dashboardButton {
	font-weight: 500;
	letter-spacing: 1px;
    font-size: 13px;
    @include create-button(map-get($colors, 'snow'), map-get($colors, 'eggplant'), 2px solid map-get($colors, 'snow'), 5px 15px, 175px);
    &:hover {
        @include create-button(map-get($colors, 'snow'), map-get($colors, 'gold'), 2px solid map-get($colors, 'snow'), 5px 15px, 175px);
    }
}
