<h2>Dagelijkse techlog</h2>
<!---
<form action="/action_page.php">
  Klant:<br>
  <input type="text" name="klant" value="">
  <br>
  Datum:<br>
  <input type="text" name="datum" value="">
  <br>
  Startuur:<br>
  <input type="text" name="startuur" value="">
  <br>
  Einduur:<br>
  <input type="text" name="einduur" value="">
  <br>
  Uitgevoerde activiteiten:<br>
  <input type="text" name="activiteiten" value="">
  <br>
  Gebruikte materialen/Gereedschappen:<br>
  <input type="text" name="gereedschappen" value="">
  <br>
  Transport(km)/Afstand?:<br>
  <input type="text" name="transport" value="">
  <br>
  <br>
  <input type="submit" value="LOG">
</form> -->

<form #createTechlogForm="ngForm" (submit)="createTechlog()">
  <div>
    
      <!--<div>                  
          <input required type="text" name="title" required maxlength="45" [(ngModel)]="new_post.title.raw" #title="ngModel">
      </div>
      <div *ngIf="title?.errors&& (title.dirty || title.touched)">                            
          <div [hidden]="!title.errors.required"> 
              <span></span>&nbsp;Title is required.
          </div>
      </div>-->

      <div>                  
        <input required type="number" name="afstand" required maxlength="45" [(ngModel)]="acf.fields.afstand"  #afstand="ngModel">
    </div>
    <div *ngIf="gelegde_afstand?.errors&& (gelegde_afstand.dirty || gelegde_afstand.touched)">                            
        <div [hidden]="!gelegde_afstand.errors.required"> 
            <span></span>&nbsp;Afstand is required.
        </div>
    </div>



      <div>
          <button type="button" (click)="goBack()">CANCEL</button>
          <button type="submit" [disabled]="!createTechlogForm.form.valid">Add Techlog</button>
      </div>

  </div>
</form>
