<h2>Dagelijkse techlog</h2>
<!---
<form action="/action_page.php">
  Klant:<br>
  <input type="text" name="klant" value="">
  <br>
  Datum:<br>
  <input type="text" name="datum" value="">
  <br>
  Startuur:<br>
  <input type="text" name="startuur" value="">
  <br>
  Einduur:<br>
  <input type="text" name="einduur" value="">
  <br>
  Uitgevoerde activiteiten:<br>
  <input type="text" name="activiteiten" value="">
  <br>
  Gebruikte materialen/Gereedschappen:<br>
  <input type="text" name="gereedschappen" value="">
  <br>
  Transport(km)/Afstand?:<br>
  <input type="text" name="transport" value="">
  <br>
  <br>
  <input type="submit" value="LOG">
</form> -->

<form #createTechlogForm="ngForm" (submit)="createTechlog()">
    <div>

        <div>
            <input required type="text" name="title" required maxlength="45" [(ngModel)]="techlog.title.raw"
                #title="ngModel">
        </div>
        <div *ngIf="title?.errors&& (title.dirty || title.touched)">
            <div [hidden]="!title.errors.required">
                <span></span>&nbsp;Title is required.
            </div>
        </div>


        <select type='number' name="klant" [(ngModel)]="acf.fields.klant" #klant="ngModel" data-live-search="true">
            <option *ngFor="let klant of klanten" [value]="klant.id">{{klant.name}}</option>
        </select>
        <div *ngIf="klant?.errors&& (klant.dirty || klant.touched)">
            <div [hidden]="!klant.errors.required">
                <span></span>&nbsp;klant is required.
            </div>
        </div>


        <div>
            <input required type="date" name="datum" required maxlength="45" [(ngModel)]="acf.fields.datum"
                #datum="ngModel">
        </div>
        <div *ngIf="datum?.errors&& (datum.dirty || datum.touched)">
            <div [hidden]="!datum.errors.required">
                <span></span>&nbsp;datum is required.
            </div>
        </div>

        <div>
            <input required type="time" name="startuur" required maxlength="45" [(ngModel)]="acf.fields.startuur"
                #startuur="ngModel">
        </div>
        <div *ngIf="startuur?.errors&& (startuur.dirty || startuur.touched)">
            <div [hidden]="!startuur.errors.required">
                <span></span>&nbsp;startuur is required.
            </div>
        </div>

        <div>
            <input required type="time" name="einduur" required maxlength="45" [(ngModel)]="acf.fields.einduur"
                #einduur="ngModel">
        </div>
        <div *ngIf="einduur?.errors&& (einduur.dirty || einduur.touched)">
            <div [hidden]="!einduur.errors.required">
                <span></span>&nbsp;einduur is required.
            </div>
        </div>

        <div>
            <input required type="number" name="pauze" required [(ngModel)]="acf.fields.pauze" #pauze="ngModel">
        </div>
        <div *ngIf="pauze?.errors&& (pauze.dirty || pauze.touched)">
            <div [hidden]="!pauze.errors.required">
                <span></span>&nbsp;pauze is required.
            </div>
        </div>



        <div *ngIf='activiteiten'>
            <select name="activiteit" [(ngModel)]="acf.fields.activiteit" #activiteit="ngModel" data-live-search="true">
                <option *ngFor="let activiteit of activiteiten" [value]="activiteit.id">{{activiteit.title.rendered}}
                </option>
            </select>
        </div>
        <div *ngIf="activiteit?.errors&& (activiteit.dirty || activiteit.touched)">
            <div [hidden]="!activiteit.errors.required">
                <span></span>&nbsp;klant is required.
            </div>
        </div>





        <div *ngIf='gereedschappen'>
            <select name="gereedschap" [(ngModel)]="acf.fields.gereedschap" #gereedschap="ngModel"
                data-live-search="true">
                <option *ngFor="let gereedschap of gereedschappen" [value]="gereedschap.id">
                    {{gereedschap.title.rendered}}</option>
            </select>
        </div>
        <div *ngIf="gereedschap?.errors&& (gereedschap.dirty || gereedschap.touched)">
            <div [hidden]="!gereedschap.errors.required">
                <span></span>&nbsp;klant is required.
            </div>
        </div>



        <div>
            <input required type="number" name="afstand" required [(ngModel)]="acf.fields.afstand" #afstand="ngModel">
        </div>
        <div *ngIf="afstand?.errors&& (afstand.dirty || afstand.touched)">
            <div [hidden]="!afstand.errors.required">
                <span></span>&nbsp;Afstand is required.
            </div>
        </div>



        <div>
            <button type="button" (click)="goBack()">CANCEL</button>
            <button type="submit" [disabled]="!createTechlogForm.form.valid">Add Techlog</button>
        </div>

    </div>
</form>