<h2>Dagelijkse techlog</h2>

<form action="/action_page.php">
  Klant:<br>
  <input type="text" name="klant" value="">
  <br>
  Datum:<br>
  <input type="text" name="datum" value="">
  <br>
  Startuur:<br>
  <input type="text" name="startuur" value="">
  <br>
  Einduur:<br>
  <input type="text" name="einduur" value="">
  <br>
  Uitgevoerde activiteiten:<br>
  <input type="text" name="activiteiten" value="">
  <br>
  Gebruikte materialen/Gereedschappen:<br>
  <input type="text" name="gereedschappen" value="">
  <br>
  Transport(km)/Afstand?:<br>
  <input type="text" name="transport" value="">
  <br>
  <br>
  <input type="submit" value="LOG">
</form> 
