
@mixin create-button($btn-text-color, $btn-bg, $btn-border, $btn-padding, $width) {
    color: $btn-text-color;
    background-color: $btn-bg;
    border: $btn-border;
    padding: $btn-padding;
    width: $width;
}