@import 
  'modules/_colors';

@import 
  'partials/_base',
  'partials/_mixins';

@import 
  'components/_navbar';

@import 
  'pages/_dashboard.scss',
  'pages/_periodes',
  'pages/_periode',
  'pages/_login';


html, body {
  margin: 0 !important;
  padding: 0;
  font-family: 'Muli';
}
