@charset "utf-8";

/*
*   LOGIN CLEANUP
*/
.containerLogin {
	// margin: 50px auto 0;
	width: auto;
	padding: 30px 10px 30px;
	position: relative;
	border: 5px solid map-get($colors, 'snow');
	color: map-get($colors, 'snow');
	background-color: map-get($colors, 'eggplant');
}

.loginLogo {
	display: block;
	width: 100px;
	height: 100px;
	margin: 20px auto;
}

.loginTitle {
	text-align: center;
	// img komt nog
	margin-bottom: 10px;
	font-size: 70px;
	font-weight: 700;
	letter-spacing: 8px;
}

.loginSubtitle {
	text-align: center;
	font-weight: 500;
	font-size: 15px;
	margin-bottom: 50px;
}

.login-form-group {
	position: relative;
	display: block;
	margin-bottom: 48px;
	& span {
		font-size: 15px;
		color: map-get($colors, 'snow');
		position: absolute;
		top: 11px;
		transition: all .2s ease;
		transform-origin: 0 0;
		cursor: text;
	}
	&.border {
		height: 2px;
		display: block;
		position: absolute;
		width: 100%;
		left: 0;
		top: 41px;
		transform: scaleX(0);
		transition: all .15s ease;
		background:#fff;
	}	
}

.login-form-control {
	border: none;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
	border-bottom: 2px solid map-get($colors, 'snow');
	display: block;
	width: 100%;
	height: 43px;
	font-size: 15px;
	background: none;
	font-weight: 500;
	&:focus, &:valid {
		border-bottom: 2px solid #fff;
	 }
	&:focus + span, &:valid + span {
		transform: translateY(-22px) scale(0.8); 
	}
	&:focus + span + .border, &:valid + span + .border {
	transform: scaleX(1);
	}
}
  
textarea.login-form-control {
	padding-top: 10px;
	padding-bottom: 10px;
}

.loginButton {
	border: none;
	width: 162px;
	height: 51px;
	border: 3px solid map-get($colors, 'snow');
	margin: auto;
	margin-top: 60px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	background: none;
	color: map-get($colors, 'snow');
	text-transform: uppercase;
	font-family: "Montserrat-SemiBold";
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	position: relative;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s; 
	& i {
		margin-left: 10px;
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		-webkit-transition-duration: 0.1s;
		transition-duration: 0.1s;
		-webkit-transition-property: transform;
		transition-property: transform;
		-webkit-transition-timing-function: ease-out;
		transition-timing-function: ease-out;
	}
	&:before {
		content: "";
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: map-get($colors, 'gold');
		-webkit-transform: scaleX(0);
		transform: scaleX(0);
		-webkit-transform-origin: 0 50%;
		transform-origin: 0 50%;
		-webkit-transition-property: transform;
		transition-property: transform;
		-webkit-transition-duration: 0.3s;
		transition-duration: 0.3s;
		-webkit-transition-timing-function: ease-out;
		transition-timing-function: ease-out; 
	}
	&:hover {
		  border-color: transparent;
	}
	&:hover:before {
		-webkit-transform: scaleX(1);
		transform: scaleX(1); 
	}
}

.loginButton:hover i {
	-webkit-transform: translateX(4px);
	transform: translateX(4px); 
}

.formIcon {
	padding: 15px;
	background: map-get($colors, 'midnight');
	color: white;
	min-width: 50px;
	text-align: center;
}

@include breakpoint(mobile) {
	.containerLogin {
		width: 75%;
		padding: 30px 10px 30px;
	}
	.formTitle {
		font-size: 1.8em;
	}
	.input-field-form-container {
		margin: 30px 0px;
	}
}

@include breakpoint(mobilewide) {
	.containerLogin {
		width: 50%;
		height: 100%;
		padding: 50px 20px 30px;
		margin: 0 auto;
	}
	.formTitle {
		font-size: 2em;
	}
	.input-field-form-container {
		margin: 0px 0px 20px;
	}
	.formBtn {
		margin: 20px 0px 0px;
	}
	.formAlert {
		padding: .25rem 1rem;
		margin: 0rem 0;
	}
}

/*
TECHLOG FORM
*/
.formContainer {
	background-color: map-get($colors, 'midnight');
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
    justify-content: center;
}

.techlogTitle {
	width: 25%;
	height: auto;
	color: white;
	text-align: right;
	padding: 5px;
	letter-spacing: 5px;
	& p {
		color:  map-get($colors, 'yolk');
		font-size: 30px;
	}
	& h1 {
		color: map-get($colors, 'snow');
		font-size: 40px;
		
	}
}

.techlogForm {
	width: 75%;
	height: auto;
	padding: 50px 30px;
	margin-right: 30px;
	background-color: map-get($colors, 'snow');
	border-left: 10px solid map-get($colors, 'eggplant');
}

.login-form-group.techlog {
	font-family: 'Muli';
	font-weight: 700;
	letter-spacing: 2px;
	width: 90%;
	margin-bottom: 20px;
	& span {
		color: map-get($colors, 'eggplant');
	}
	&.border {
		color: map-get($colors, 'eggplant');
	}	
}

.login-form-control.techlog {
	border-bottom: 3px solid map-get($colors, 'eggplant');
	&:focus, &:valid {
		border-bottom: 3px solid map-get($colors, 'eggplant');
	 }
}

.techlogButton {
	font-weight: 500;
	letter-spacing: 2px;
	font-size: 16px;
	@include create-button(map-get($colors, 'snow'), map-get($colors, 'eggplant'), 3px solid map-get($colors, 'snow'), 15px 20px, 90%);
	&:hover {
		@include create-button(map-get($colors, 'snow'), map-get($colors, 'gold'), 3px solid map-get($colors, 'snow'), 15px 20px, 90%);
	}
}

/* 
* ADD
*/
.footerAdd {
	display: flex;
}

.login-form-group.techlog.add {
	width: 100%;
	margin-top: 17px;
}

.techlogTitle.activiteitTitle {
	& p {
		font-size: 28px;
	}
	& h1 {
		font-size: 33px;
	}
}

.techlogTitle.gereedschapTitle {
	& p {
		font-size: 19px;
	}
	& h1 {
		font-size: 23px;
	}
}

