<div class="techlogPage">
      <div class="formContainer dashboard">
   
         <div class="activiteitHeader">
            <h1 class="dashboardTitle">GEREEDSCHAPPEN</h1>
            <button class="activiteitButton add" routerLink="/gereedschappen/create">VOEG TOE</button>
         </div>
   
         <div class="activiteitList">
            <div class="activiteit" *ngFor="let gereedschap of gereedschappen">
               <div class="formLeftActiviteit">
                  <p class="activiteitName">{{gereedschap.title.rendered}}</p>
               </div>
               <div class="formRightActiviteit">
                  <button class="activiteitButton" routerLink="/gereedschappen/{{gereedschap.id}}/update">WIJZIG</button>
                  <button class="activiteitButton" (click)='removeGereedschap(gereedschap.id)'>VERWIJDER</button>
               </div>
            </div>
         </div>
   
      </div>
   </div>