<div class="loginPage">
    <div class="containerLogin">


                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <img class="loginLogo" src="../../../assets/logo_white.svg">

                    <h3 class="loginTitle">AANMELDEN</h3>
                    <p class="loginSubtitle">Welkom bij Arte-Tech, log in om je techlog te kunnen registreren.</p>

                    <label class="login-form-group">
                        <input class="login-form-control" type="text" formControlName="username" required/>
                        <span for="">Email</span>
                        <span class="border"></span>
                    </label>

                    <label class="login-form-group">
                        <input class="login-form-control"  type="password" formControlName="password" required/>
                        <span for="">Wachtwoord</span>
                        <span class="border"></span>
                    </label>

                    <button class="loginButton">Login</button>

                </form>

    </div>
</div>