<div class="dt-container">
    <div class="dt-card left">
        <div class="dt-broadcast-navigate">
                <div>Notficaties</div>
                <div>Historiek</div>
                <div>Aankondigingen</div>
        </div>
        <div class="dt-broadcast-details">
                <div>Broadcast title - date <br />
                    detail - time                    
                </div>
                <div>Broadcast title - date <br />
                    detail - time                    
                </div>
                <div>Broadcast title - date <br />
                    detail - time                    
                </div>
                <div>Broadcast title - date <br />
                    detail - time                    
                </div>
        </div>


    </div>
    <div class="dt-card right">
        <div class="dt-profile-details">
           Imosh Meh
           <div class="dt-profile-image"></div>
           Imosh Meh
           Imosh Meh
           Imosh Meh
           Imosh Meh
           <button>Edit</button>
           <!--<img />-->
        </div>
        <div class="dt-profile-stats">
            <div>Volg</div>
            <div>Volgers</div>
            <div>Sterren</div>
        </div>
    </div>

</div>
