<div class="techlogPage">
    <div class="formContainer dashboard">
        <h1 class="dashboardTitle">DASHBOARD</h1>
        <div class="dashboardSubtitle">
            <h1>STATISTIEKEN</h1>
            <button class="dashboardButton">WEEK</button>
            <!--<button class="dashboardButton">MAAND</button>
            <button class="dashboardButton">JAAR</button>-->
        </div>

        <!--The content below is only a placeholder and can be replaced.-->
        <div id="chartContainer" style="height: 300px; width: 100%; margin-left:auto;margin-right:auto;"></div>

        <div class="dashboardSubtitle">
            <h1>DATA</h1>
        </div>

        <div class="tableContainer">
            <table>
                <tr>
                    <td>UREN</td>
                    <td>{{ totaalUrenWeek }}</td>
                    <td>OVERUREN</td>
                    <td>{{ totaalOverUrenWeek |  number : '1.2-2' }}</td>
                </tr>
                <tr>
                    <td>LOON</td>
                    <td>450</td>
                    <td>ZATERDAGUREN</td>
                    <td>{{ totaalUrenZaterdagWeek |  number : '1.2-2' }}</td>
                </tr>
                <tr>
                    <td>TRANSPORTBELONING</td>
                    <td>32</td>
                    <td>ZONDAGUREN</td>
                    <td>{{ totaalUrenZondagWeek |  number : '1.2-2' }}</td>
                </tr>
            </table>
        </div>
        <!-- <div *ngFor="let techlog of techlogs">
            <p>title: {{techlog.title.rendered}} </p>
            <p>datum: {{techlog.acf.datum}} </p>
            <p>startuur: {{techlog.acf.startuur}} </p>
            <p>einduur: {{techlog.acf.einduur}} </p>
            <p>pauze: {{techlog.acf.pauze}} </p>
            <p>activiteiten: {{techlog.acf.gebruikte_materiaal}} </p>
            <p>materialen: {{techlog.acf.uitgevoerde_activiteiten}} </p>
            <p>afstand: {{techlog.acf.afstand}} </p>
            <p>bevestiging: {{techlog.acf.bevestiging}} </p>

        </div> -->

    </div>
</div>