<div class="techlogPage">
        <div class="formContainer">
            <div class="techlogTitle gereedschapTitle">
                <p>WIJZIG EEN</p>
                <h1>GEREEDSCHAP</h1>
            </div>
            <div class="techlogForm">
                <form #updateGereedschapForm="ngForm" (submit)="updateGereedschap()">
                    <div>
    
                        <label class="login-form-group techlog add">
                            <input class="login-form-control techlog" type="text" name="title" required maxlength="45"
                                [(ngModel)]="gereedschap.title.raw" #title="ngModel">
                            <span for="">GEREEDSCHAP</span>
                            <span class="border"></span>
                        </label>      
    
                        <div class="footerAdd">
                            <button class="techlogButton" type="button" (click)="goBack()">TERUG</button>
                            <button class="techlogButton" type="submit"
                                [disabled]="!updateGereedschapForm.form.valid">WIJZIG</button>
                        </div>
    
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    