<div *ngIf="currentUser">
    <div class="sidenav">
        <!--<img class="logo-sidenav" src="favicon.ico"  height="60" width="60">-->
        <ul>
            <li class="sidenav-item selected" routerLink="/"><fa-icon [icon]="['fas', 'home']"></fa-icon>Dashboard</li>
            <li class="sidenav__list-item" routerLink="profile"><fa-icon [icon]="['fas', 'user-circle']"></fa-icon>Profile</li>
            <li class="sidenav__list-item" routerLink="users"><fa-icon [icon]="['fas', 'users']"></fa-icon>Social</li>
            <li class="sidenav__list-item" routerLink="sleep"><fa-icon [icon]="['fas', 'bed']"></fa-icon>SleepTrack</li>
            <li class="sidenav__list-item" routerLink="/"><fa-icon [icon]="['fas', 'hashtag']"></fa-icon>Media</li>
            <li class="sidenav__list-item" routerLink="/"><fa-icon [icon]="['fas', 'feather']"></fa-icon>Quiz</li>
            <li class="sidenav__list-item" routerLink="/"><fa-icon [icon]="['fas', 'info-circle']"></fa-icon>Tips & Tricks</li>
            <li class="sidenav__list-item" (click)="logout()"><fa-icon [icon]="['fas', 'bell']"></fa-icon>Logout</li><!--
            <li class="sidenav__list-item" (click)="logout()"><fa-icon [icon]="['fas', 'cogs']"></fa-icon>Logout</li>
            <li class="sidenav__list-item" (click)="logout()"><fa-icon [icon]="['fas', 'cog']"></fa-icon>Logout</li>
            <li class="sidenav__list-item" (click)="logout()"><fa-icon [icon]="['fas', 'user-cog']"></fa-icon>Logout</li>
            <li class="sidenav__list-item" (click)="logout()"><fa-icon [icon]="['fas', 'sign-out-alt']"></fa-icon>Logout</li>
            <li class="sidenav__list-item" routerLink="/"><fa-icon [icon]="['fas', 'bars']"></fa-icon>Dashboard</li>-->
        </ul>
        <img class="logo-sidenav2" src="favicon.ico"  height="60" width="60" routerLink='/'>
    </div>
</div>